<core-toolbar>
  {{#view 'paper-tabs' id="tabs"}}
    {{#view 'paper-tab' name="all" route="post-cards"}}All{{/view}}
    {{#view 'paper-tab' name="favorites" route="favorites"}}Favorites{{/view}}
  {{/view}}
</core-toolbar>
<div class="container" layout vertical center>
  {{outlet}}
</div>
