{{#each post in content}}
  {{#evented-polymer-component tagName='post-card'
                               post=post
                               isFavorited=post.isFavorited
                               attributeProperties='isFavorited:favorite'
                               onEventBindings='favorite-tapped:favoriteTapped'}}
    <img width="70" height="70" src="{{post.avatar}}">
    <h2>{{post.username}}</h2>
    <p>{{post.text}}</p>
  {{/evented-polymer-component}}
{{/each}}
